html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: 'Ubuntu'!important;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	color: black;
	text-align: center;
	font-size: 2.5vw;
}

h2 {
	font-size: 1.75vw;
}

 .responsive_container {
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 210.78vh; /* 16/9 = 1.778 c'etait ecrit 177.78 */
    margin: 0;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.titre {
	font-weight: bold;
	text-align: center;
	color: #002266;
}

.sous_titre_orange {
	position: absolute;
	text-align: center;
	bottom: 75.6%;
	left: 32%;
	font-size: 2vw;
	color: #ADCC58;
	font-weight: bold;
}

.container {
	height: 98%;
	top: 1%;
	position: relative;
	width: 48%;
	margin: 0;
}

#map-europe {
	position: relative;
	top: -6%;
	left: -14%;
}

#container_map {
	overflow: hidden;
	float: left;
	left: 1%;
	border: 2px solid green;
}

#bigger_map {
	position: relative;
	top: 0%;
	left: 0%;
	width: 135%;
	height: 100%;
}

#container_data {
	overflow: hidden;
	left: 2.5%;
	border: 2px solid blue;
}

#container_explanations {
	z-index: 500;
	height: 80%;
	left: 26.5%;
	top: 90%;
	position: absolute;
}

#container_explanations > div {
	position: relative;
	top: -1%;
	padding: 5%;
	padding-top: 0%;
	background-color: #ccffff;
	border-radius: 7px;
	border: 2px solid black;
}

#btn_explications {
	position: relative;
	left: 43.5%;
	top: 3%;
	width: 11%;
	height: auto;
	cursor: pointer;
}

.cssmap-pin {
	list-style-type: none;
}

.css-pie {
	width: 70px;
	height : 70px;
	margin: 0 auto;
}

#container_pies {
	width: 100%;
	height: 25%;
	background-color: green;
}

.pie_data {
	display: inline-block;
	width:20%;
	height: 100%;
	margin : 0 14.5% 0 14.5%;
	background-color: red;
}