/* just a sample css rule to show that everything works */


body
{
	font-family: 'Ubuntu'!important;
}

footer p
{
  font-size: small;
}

h1, h2, h3, h4, h5, h6
{
	position: relative;
	color: black;
	text-align: center;
	font-size: 2.5vw;
}

h2
{
	font-size: 1.75vw;
}

li
{
	position: relative;
	display:block;
	width:15%;
	height: 5vw;
	float:left;
	margin-right: 9.15%;
	margin-left: 9.15%;
	font-size: 0.625vw;
	cursor: pointer;
}

span>ul>li
{
	border: solid 1px #245186;
	background-color: #E1F1F3;
	border-radius: 1vw;
	color: black;
	display: table;
	vertical-align: middle;
}

span>ul>li>p
{
	font-size: 1vw;
	color: #002266;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

 .responsive_container
{
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.titre
{
	font-weight: bold;
	text-align: center;
	position: absolute;
	color: #002266;
}

#titre_intro
{
	bottom: 82%;
	left: 15%;
}

.sous_titre_orange
{
	position: absolute;
	text-align: center;
	bottom: 75.6%;
	left: 32%;
	font-size: 2vw;
	color: #ADCC58;
	font-weight: bold;
}
